@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .padding {
    @apply px-8 lg:px-32;
  }

  .btn {
    @apply bg-myblue text hover:bg-myblue2 z-50 px-6 h-[42px] flex items-center hover:-translate-y-1  rounded-3xl;
  }
  .btn2 {
    @apply bg-myblue text hover:bg-myblue2 h-[42px] flex items-center z-50 px-6 py-1  rounded-3xl
    hover:-translate-y-1;
  }
  .btn2-border {
    @apply border-2 bg-transparent border-myblue h-[42px] flex items-center text hover:-translate-y-1 hover:bg-myblue z-50 px-6 py-1  rounded-3xl;
  }

  .hero {
    @apply mt-10 w-auto;
  }

  .hero-center {
    @apply mt-10 lg:mx-auto w-auto lg:w-[700px];
  }

  .btn-set-1 {
    @apply mx-auto w-60;
  }

  .btn-set-2 {
    @apply mx-auto w-[320px] md:w-[390px] bg-black;
  }

  .text {
    @apply text-sm md:text-lg;
  }

  .header {
    @apply text-2xl lg:text-6xl;
  }

  .margin {
    @apply mt-6;
  }

  .margin2 {
    @apply mt-10;
  }

  .socials {
    @apply flex justify-between w-[140px] lg:w-[300px] mt-2 lg:mt-5;
  }

  .ido {
    @apply z-50 flex justify-center mt-16 margin;
  }
  .StakeCloudax__hero {
    @apply mt-14 lg:mt-[73px] px-8 lg:px-24;
  }
  .StakeCloudax__hero__one-liner {
    @apply text-2xl md:text-3xl text-left md:text-center max-w-[600px] mx-auto lg:text-[45.92px] lg:leading-[55.1px] font-extrabold mb-[21.2px];
  }
  .StakeCloudax__hero__explainer {
    @apply text-base lg:text-[20px] lg:leading-[29.16px] max-w-[639.42px] mx-auto text-left md:text-center mb-[40px] lg:mb-[61.15px];
  }
  .StakeCloudax__hero_ctas {
    @apply flex items-center justify-start md:justify-center md:space-x-6;
  }
  .StakeCloudax__hero_ctas .btn:last-child {
    @apply ml-[26.55px];
  }
  .StakeCloudax__stat-cards {
    @apply flex flex-wrap lg:justify-center gap-5 text-white my-14 md:my-[83.66px];
  }
  .StakeCloudax__stat-card {
    @apply p-5 lg:p-[30px] flex-grow rounded-[8.28px];
  }
  .StakeCloudax__stat-cards__title {
    @apply text-xs lg:text-[18px] mb-[8.11px];
  }
  .StakeCloudax__stat-cards__value {
    @apply text-lg lg:text-[32px] lg:leading-[33.95px] font-extrabold;
  }
  .wrapper {
    @apply px-8 lg:px-24;
  }
  .CheckpointsCard {
    @apply p-5 md:px-[44px] rounded-[15.47px] md:py-[38px] text-white;
  }
  .CheckpointsCard__heading {
    @apply text-lg lg:text-[25.29px] lg:leading-[30.35px] font-bold;
  }
  .indicator {
    @apply h-[14px] w-[14px] mr-[11px] flex-shrink-0 rounded-full;
  }
  .CheckpointsCard__checked {
    @apply bg-[#45FF34];
  }
  .CheckpointsCard__unchecked {
    @apply bg-[#FF3434];
  }
  .CheckpointsCard__default {
    @apply bg-[#D9D9D9];
  }
  .CheckpointsCard__title {
    @apply font-bold text-base lg:text-[20px] lg:leading-[24px] -mt-1.5 mb-[3px];
  }
  .StakeCloudax__card {
    @apply p-5 md:px-[44px] rounded-[15.47px] md:py-[38px] text-white;
  }
  .Launchpad__card {
    @apply p-6 glass rounded-2xl;
  }
  .Referral__item-group {
    @apply grid grid-cols-1 mt-8 lg:mt-10 lg:grid-cols-2 lg:divide-x-2 divide-[rgba(255,255,255,0.3)];
  }
  .Referral__item {
    @apply py-4 lg:py-8 lg:px-12;
  }
}

@font-face {
  font-family: "Monument Extended";
  src: url("/src//font/MonumentExtended-Regular.otf");
}

.glass {
  background: linear-gradient(
    121.29deg,
    rgba(43, 43, 43, 0.81) 0%,
    rgba(61, 61, 61, 0.2) 102.71%
  );
  border: 1.10506px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8.84047px);
}

.my-border {
  border-bottom: 0.762995px solid #ffffff;
}

.my-border:hover {
  border-color: #8b898e;
}
.footer-bg {
  background: linear-gradient(
    271.03deg,
    #171c23 0.99%,
    rgba(23, 28, 35, 0.14) 109.84%
  );
}

.glow {
  will-change: box-shadow, background-color;
  animation: glowing 3s infinite;
  animation-delay: 1000ms;
}

@keyframes glowing {
  0% {
    background-color: #0e70aa;
    box-shadow: 0 0 3px #0e70aa;
  }
  20% {
    background-color: #51b6f1;
    box-shadow: 0 0 10px #51b6f1;
  }
  100% {
    background-color: #0e70aa;
    box-shadow: 0 0 3px #0e70aa;
  }
}
